bin
obj
src/Web/app/dist/
src/Web/app/node_modules/
build
ProjectAssemblyInfo.cs

*.user
*.suo
*.swp

src/packages/*

!src/packages/FAKE.Core.*
src/packages/FAKE.Core.*/*

!src/packages/FAKE.Core.*/tools
src/packages/FAKE.Core.*/tools/*.pdb

!src/packages/NuGet.CommandLine.*
src/packages/NuGet.CommandLine.*/*.nupkg

!src/packages/GitVersion
src/packages/GitVersion/*.nupkg

!src/packages/LibGit2Sharp
src/packages/LibGit2Sharp/App_Readme
src/packages/LibGit2Sharp/*.nupkg
src/packages/LibGit2Sharp/**/*.pdb
