@import 'variables/colors';
@import 'mixins/lessPrefixer.less';
@import 'mixins/buttonInProgress.less';

@import './testCases/testCases.less';
@import './testCases/testCase.less';
@import './testCases/testCaseList.less';
@import './testCases/leftMenu.less';

@topbarHeight: 3em;

.test-case-viewer{
     width: 100%;
     height: 100%;
     position: relative;
     display: flex;
     flex-direction: column;

    .top-bar{
        width: 100%;
        background: @CDark;
        position: relative;
        overflow: hidden;
        color: @CLight;
        height: @topbarHeight;

        .app-header {
            float:left;
            height: 100%;
            padding-left: 5px;
            display: flex;
            justify-content: center;

            .app-name {
                align-self: center;

                color: @CLight;
                overflow: hidden;
                box-sizing: border-box;

                margin:0;
                padding:0;

                .name {
                    font-size: 2em;
                    line-height: 1em;
                    margin-right: 5px;
                }

                .version{
                    color: @CLight2;
                    font-size: 0.85em;
                }
            }
        }

        .user-button{
            float: right;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;

            .name{
                float: left;
                color: @CLight;
                box-sizing: border-box;
                height: @topbarHeight;
                .logout-button();
            }

            img{
                float: left;
                height: @topbarHeight;
                background: @CBase;
            }

            &.in-progress{
                .in-progress();
            }
        }

        .logout-button(){
            overflow: hidden;
            vertical-align: middle;
            position: relative;
            text-align: center;
            cursor: pointer;
            margin: auto;
            vertical-align: middle;
            line-height: 1em;
            padding: 1em 1em;

            font-weight: 300;
            &:after {
                content: attr(data-logout);
                position: absolute;
                z-index: 1;
                .transition(all 0.3s);

                padding-top: 2em;
                margin: auto;

                width: 0;
                height: 103%;
                top: 50%;
                left: 50%;
                background: @CBase2;
                opacity: 0;
                .transform(translateX(-50%) translateY(-50%));
            }

            &:active, &:hover {
            	color: @CDark;
            }

            &:hover:after {
            	width: 90%;
            	opacity: 1;
            }

            &:active:after {
            	width: 101%;
            	opacity: 1;
            }
        }
    }

}
