@import '../variables/colors';
@import '../mixins/lessPrefixer.less';
@import '../mixins/buttonInProgress.less';
@import './buttons.less';

@inputPadding: 0.5em;

.comm-action-input {
    display: flex;
    .comm-input{
        float: left;
        flex: 1;
    }

    .comm-action-button{
        .base-button();
        .animated-button();
        padding: @inputPadding 2em;
        float: left;
        border-left: none;
        border-color: @CLight2;
    }
}

.comm-input{
    padding: @inputPadding;
    border: solid 1px @CLight2;
    &:focus {
        outline: none;
    }
}

.comm-labeled-input{
    box-sizing: border-box;
    position: relative;
    padding: .5em 0;
    input{
        width: 100%;
        box-sizing: border-box;
        padding: 0.5em;
        border-top: none;
        border-left: solid 1px @CDark2;
        border-right: solid 1px @CDark2;
        border-bottom: solid 1px @CDark2;
        background: none;

        &:focus{
            outline: none;
        }
    }

    label{
        color: @CDark2;
    }
}
