@import '../variables/colors';
@import '../variables/constants';
@import '../mixins/lessPrefixer.less';

.left-menu{
    padding: 1em 0;
    background: @CLight;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    .left-menu-item{
        padding-left: 1em;
        padding-right: 1em;
    }

    .left-menu-extension{
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: @CSuperLight;

        overflow: hidden;
        padding-right: 1em;
        border-left: solid 1px @CLight2;
        .box-shadow(4px 0px 4px 0px rgba(50, 50, 50, 0.19));

    }

    .query-button{
        .query-button();
    }

    .extension-enter {
        width: 0;
        overflow: hidden;
        .transition(all .2s ease-in);

        >*{
            opacity: 0;
            .transition(opacity .1s ease-in);
            .transition-delay(.2s);
        }
    }

    .extension-enter.extension-enter-active {
        overflow: hidden;
        width: 100%;
        >*{
            opacity: 1;
        }
    }

    .extension-leave {
        width: 100%;
        .transition(all .2s ease-in);

        >*{
            opacity: 1;
            .transition(opacity .1s ease-in);
        }
    }

    .extension-leave.extension-leave-active {
        width: 0;
        >*{
            opacity: 0;
        }
    }
}

.query-button(){
    margin: 1em 0 0 0;
    padding: 0;
    border-top: solid 1px @CLight2;
    border-bottom: solid 1px @CLight2;

    display: flex;
    background: none;
    color: @CDark;
    vertical-align: middle;
    position: relative;
    z-index: 1;

    font-weight: bold;

    .query-button-value{
        padding: @inputPadding 1em;
        flex:1;
    }

    .query-button-icon{
        .query-button-icon();
    }

    &.active .query-button-icon{
        background: @CSuperLight;
        &:after {
            width: 103%;
            opacity: 1;
        }
        svg{
            .transform(rotate(-0.25turn));
        }
    }
}

.query-button-icon(){
    cursor: pointer;
    border-left: solid 1px @CLight2;
    padding: 0 .4em;
    display: flex;
    position: relative;
    box-sizing: border-box;
    .transition(all .3s);

    svg{
        align-self: center;
        width: 2em;
        height: 2em;
        .transition(all .3s);
    }

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        .transition(all 0.3s);

        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: @CSuperLight;
        opacity: 0;
    }

    &:hover:after {
        width: 103%;
        opacity: 1;
    }
}
