@import '../variables/colors';
@import '../mixins/lessPrefixer.less';

.one-hop-list{
    .toggle-header{
        padding-top: .5em;
        display: block;
        font-weight: 600;
        cursor: pointer;

        svg {
            width: 1em !important;
            .transition(all .3s);
        }
    }

    .closed svg{
        .transform(rotate(-0.25turn));
    }
}

.test-case-list{
    flex: 1;
    position: relative;

    .test-case-list-swirl{
        align-self: center;
        left: 50%;
        top: 2em;
        margin-bottom: 4em;
        .transform(translateX(-100%));
    }

    .ps-scrollbar-y-rail{
        z-index: 2;
    }

    ul{
        list-style: none;
        padding: 0;
        margin-top: 0;
    }

    li{
        padding-top: .5em;
        padding-bottom: .5em;
        cursor: pointer;

        display: block;
        background: none;
        color: @CDark;
        vertical-align: middle;
        position: relative;
        z-index: 1;

        &.active{
            background: @CBase;
            color: @CSuperLight;
        }

        .status-icon{
            padding-right: .5em;
            svg{
                width: .8em !important;
                height: .8em !important;
            }
        }

        .animated-item();
    }
}


.animated-item() {
	overflow: hidden;
    .transition(color 0.3s);

    &:after {
        content: '';
    	position: absolute;
    	z-index: -1;
    	.transition(all 0.3s);

    	width: 0;
    	height: 103%;
    	top: 0;
    	left: 0;
    	background: @CBase;
    	opacity: 0;
    }

    &:active {
    	 color: @CSuperLight;
    }

    &:hover:after {
        width: .7em;
    	opacity: 1;
    }

    &:active:after {
    	width: 101%;
    	opacity: 1;
    }
}
